@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(0, 70px);
    -o-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    -webkit-transform: translate(0, 70px);
    transform: translate(0, 70px); }
  100% {
    -webkit-transition: transform 1.1s ease-out;
    -moz-transition: transform 1.1s ease-out;
    -ms-transition: transform 1.1s ease-out;
    -o-transition: transform 1.1s ease-out;
    transition: transform 1.1s ease-out;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fadeUp {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(0, 70px);
    -o-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    -webkit-transform: translate(0, 70px);
    transform: translate(0, 70px); }
  100% {
    -webkit-transition: transform 1.1s ease-out;
    -moz-transition: transform 1.1s ease-out;
    -ms-transition: transform 1.1s ease-out;
    -o-transition: transform 1.1s ease-out;
    transition: transform 1.1s ease-out;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
a, a span {
  transition: all 0.44s ease-in-out; }

p i, a img {
  width: 15px;
  text-align: center; }

html {
  opacity: 0;
  filter: alpha(opacity=0); }
  html.font-active {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    filter: alpha(opacity=100); }

body {
  width: 100%;
  font-family: "Noto Sans", "sans-serif";
  font-style: normal;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.63;
  text-transform: none;
  letter-spacing: -0.00125em;
  color: white;
  background: #040404; }
  @media only screen and (max-width: 49em) {
    body {
      background-image: url("/images/backgrounder_inverted.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat; } }

::selection {
  color: #040404;
  background-color: white;
  outline: none; }

::-moz-selection {
  color: #040404;
  background-color: white; }

li {
  list-style: none; }
  li i {
    color: white; }
  li p {
    display: block;
    color: #b7b7b7; }

.no-right {
  padding-right: 0; }

#wrapper {
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #wrapper #container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 888ms ease-in-out;
    -moz-transition: opacity 888ms ease-in-out;
    -ms-transition: opacity 888ms ease-in-out;
    -o-transition: opacity 888ms ease-in-out;
    transition: opacity 888ms ease-in-out; }
    #wrapper #container.shown {
      opacity: 1;
      filter: alpha(opacity=100); }
  #wrapper .about-me {
    position: relative; }
  #wrapper .align-middle {
    padding: 9%; }
    @media only screen and (min-width: 49em) {
      #wrapper .align-middle {
        padding: 7%;
        margin: auto; } }

p {
  margin-top: 0;
  margin-bottom: 1.1375em; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:active {
    color: #2f2f2f;
    opacity: 0.44; }

.indent {
  width: 70px;
  float: left; }

.social-content a {
  color: white;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .social-content a i {
    margin-right: 1.1375em;
    width: 20px; }
  .social-content a:hover, .social-content a:focus {
    color: #ffeb3b !important; }

.content {
  margin-bottom: 1.1375em;
  float: left;
  width: 100%; }
  .content.social {
    margin: 0;
    margin-bottom: 1.1375em; }
  .content .roles strong {
    -webkit-box-shadow: 0 2px 0 white;
    -moz-box-shadow: 0 2px 0 white;
    box-shadow: 0 2px 0 white; }
  @media only screen and (max-width: 49em) {
    .content p.min-height {
      min-height: 6em; } }
  .content.works {
    margin-bottom: 2.275em; }
    .content.works ul {
      margin: 0;
      padding: 0; }
    .content.works li {
      float: left;
      background-color: black;
      letter-spacing: -0.015em;
      margin-right: 0.28438em;
      margin-bottom: 0.28438em;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .content.works li span {
        padding: 0.28438em 0.75833em; }
      .content.works li a,
      .content.works li span {
        display: block;
        color: #afafaf;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .content.works li:hover, .content.works li:focus {
        background-color: white;
        color: #111111; }
        .content.works li:hover a,
        .content.works li:hover span, .content.works li:focus a,
        .content.works li:focus span {
          color: #111111; }
      @media only screen and (max-width: 49em) {
        .content.works li {
          font-size: 0.7em; } }

.about-copy {
  margin-bottom: 1.1375em; }

.space {
  height: 3.4125em;
  width: 100%;
  float: left; }
  @media only screen and (min-width: 49em) {
    .space {
      display: none; } }

.full-width {
  width: 100%;
  display: none; }
  @media only screen and (max-width: 49em) {
    .full-width {
      display: inherit; } }

.nav,
.contact-nav {
  text-transform: none; }
  .nav ul,
  .contact-nav ul {
    padding: 0;
    margin: 0;
    clear: both; }
    .nav ul li,
    .contact-nav ul li {
      margin-bottom: 5px;
      padding-right: 1.1375em;
      float: left;
      width: 50%; }
      @media only screen and (max-width: 49em) {
        .nav ul li,
        .contact-nav ul li {
          width: 100%;
          padding-right: 0; } }
      .nav ul li h3,
      .nav ul li a,
      .contact-nav ul li h3,
      .contact-nav ul li a {
        color: white;
        display: block; }
      .nav ul li h3,
      .contact-nav ul li h3 {
        white-space: normal;
        text-transform: uppercase;
        margin-bottom: 3px;
        float: left;
        clear: both;
        width: 100%;
        letter-spacing: 1px; }
        .nav ul li h3:first-child,
        .contact-nav ul li h3:first-child {
          margin-top: 0; }
      .nav ul li p,
      .contact-nav ul li p {
        clear: both;
        font-size: 0.8em; }
      .nav ul li:hover span,
      .nav ul li:hover h3,
      .nav ul li:hover a, .nav ul li:focus span,
      .nav ul li:focus h3,
      .nav ul li:focus a,
      .contact-nav ul li:hover span,
      .contact-nav ul li:hover h3,
      .contact-nav ul li:hover a,
      .contact-nav ul li:focus span,
      .contact-nav ul li:focus h3,
      .contact-nav ul li:focus a {
        color: #ffeb3b !important; }

.contact-nav {
  margin-bottom: 5%;
  float: left;
  width: 100%; }
  .contact-nav ul li {
    width: 33.33333333%;
    padding-right: 0; }

.social-nav {
  text-transform: none;
  margin-left: -12px; }
  .social-nav ul {
    padding: 0;
    margin: 0; }
    .social-nav ul li {
      float: left; }
      .social-nav ul li i,
      .social-nav ul li img {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center; }
      .social-nav ul li:hover, .social-nav ul li:focus {
        color: #ffeb3b; }
        .social-nav ul li:hover a,
        .social-nav ul li:hover i, .social-nav ul li:focus a,
        .social-nav ul li:focus i {
          color: #ffeb3b; }
      .social-nav ul li.trakt {
        margin: 11px;
        height: 17px;
        width: 17px;
        overflow: hidden; }
        .social-nav ul li.trakt a {
          display: block;
          width: 17px;
          height: 17px; }
        .social-nav ul li.trakt img {
          margin-top: -100%;
          height: 34px; }
        .social-nav ul li.trakt:hover img, .social-nav ul li.trakt:focus img {
          margin-top: 0; }

span.the-sum {
  font-weight: 900;
  width: 22px;
  display: inline-block;
  text-align: center;
  height: 25px; }

.name.logo {
  font-family: "Noto Sans";
  text-transform: uppercase;
  letter-spacing: 13px;
  line-height: 1.2;
  margin-top: 15%; }
  .name.logo h1 {
    font-size: 2.25em; }
  .name.logo p {
    width: 100%; }
  @media only screen and (max-width: 49em) {
    .name.logo {
      letter-spacing: 9px;
      margin-top: 7.5%; } }
.name p {
  margin-bottom: 0.56875em;
  color: #4c4c4c;
  float: left;
  width: 100%;
  font-size: 0.8em; }
.name i {
  margin: 0 3px; }

@media only screen and (min-width: 49em) {
  .show-for-small-only {
    display: none !important; } }

.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap; }

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: normal !important;
  *word-spacing: normal !important; }

.slabtextdone .slabtext {
  display: block; }

/*# sourceMappingURL=style.css.map */
