// Anti-Alias
@mixin antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Highlights
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

// Unselectable
@mixin unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Box Shadow
@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

// Border Box
@mixin box-sizing($args) {
    -webkit-box-sizing: $args; // Safari <= 5
    -moz-box-sizing: $args; // Firefox <= 19
    box-sizing: $args;
}

// Scale
@mixin scale($params) {
    -webkit-transform: scale($params);
    -moz-transform: scale($params);
    transform: scale($params);
}

// Rounded
@mixin border-radius($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) + px;
    font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

// Generic Transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// Transition
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Truncate
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//Backface Visibility
@mixin backface-visibility ($args) {
    -webkit-backface-visibility: $args;
    -moz-backface-visibility: $args;
    -ms-backface-visibility: $args;
    -o-backface-visibility: $args;
    backface-visibility: $args;
}

// Rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// Remove Margins From Top/Bottom
@mixin content-margins($selector: '> *', $last-child: false) {
    @if not $selector {
        $selector: '&';
    }
    #{unquote($selector)} {
        &:first-child { margin-top: 0; }
        @if $last-child {
            &:last-child { margin-bottom: 0; }
        }
    }
}

// Fade Animation
@-webkit-keyframes fadeUp {
    0% {
        @include opacity(0);
        @include transform(translate(0, 70px));
    }
    100% {
        @include transition(transform 1.1s ease-out);
        @include transform(translate(0, 0));
        @include opacity(1);
    }
}

@keyframes fadeUp {
    0% {
        @include opacity(0);
        @include transform(translate(0, 70px));
    }
    100% {
        @include transition(transform 1.1s ease-out);
        @include transform(translate(0, 0));
        @include opacity(1);
    }
}
