// Import It
@import "mixins";
@import "variables";
// Fade After Font Load
html {
    @include opacity(0);
    &.font-active {
        @include transition(opacity 1s ease-in-out);
        @include opacity(1);
    }
}

// Start Up Styles
body {
    width: 100%;
    font-family: $font_0, $font_1;
    font-style: normal;
    font-weight: 300;
    font-size: 100%;
    line-height: 1.63;
    text-transform: none;
    letter-spacing: -0.00125em;
    color: $color_white;
    background: darken($color_mine_shaft_approx, 17%);
    @media only screen and (max-width: 49em) {
        background-image: $url_1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }
}

::selection {
    color: darken($color_mine_shaft_approx, 17%);
    background-color: $color_white;
    outline: none;
}

::-moz-selection {
    color: darken($color_mine_shaft_approx, 17%);
    background-color: $color_white;
}

li {
    list-style: none;
    i {
        color: $color_white;
    }
    p {
        display: block;
        color: #b7b7b7;
    }
}

.no-right {
    padding-right: 0;
}

#wrapper {
    line-height: 1.5em;
    @include box-sizing(border-box);
    #container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include opacity(0);
        @include transition(opacity 888ms ease-in-out);
        &.shown {
            @include opacity(1);
        }
    }
    .about-me {
        position: relative;
    }
    .align-middle {
        padding: 9%;
        @media only screen and (min-width: 49em) {
            padding: 7%;
            margin: auto;
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: $size_column-gutter;
    i {
        @extend %extend_3;
    }
}

a {
    text-decoration: none;
    @extend %extend_2;
    &:visited {
        text-decoration: none;
    }
    &:active {
        color: $color_mine_shaft_approx;
        opacity: 0.44;
    }
    span {
        @extend %extend_2;
    }
    img {
        @extend %extend_3;
    }
}

.indent {
    width: 70px;
    float: left;
}

.social-content {
    a {
        color: $color_white;
        display: block;
        @include text-truncate;
        i {
            margin-right: $size_column-gutter;
            width: 20px;
        }
        &:hover,
        &:focus {
            color: $color_yellow !important;
        }
    }
}
.content {
    margin-bottom: $size_column-gutter;
    float: left;
    width: 100%;
    &.social {
        margin: 0;
        margin-bottom: $size_column-gutter;
    }
    .roles {
        strong {
            @include box-shadow(0 2px 0 $color_white);
        }
    }
    p.min-height {
        @media only screen and (max-width: 49em) {
            min-height: 6em;
        }
    }
    &.works {
        margin-bottom: $size_column-gutter * 2;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            float: left;
            background-color: darken($color_woodsmoke_approx, 9%);
            letter-spacing: -0.0125em;
            margin-right: $size_column-gutter / 4;
            margin-bottom: $size_column-gutter / 4;
            @include transition(all 0.5s ease-in-out);
            span {
                padding: $size_column-gutter/4 $size_column-gutter/1.5;
            }
            a,
            span {
                display: block;
                color: lighten($color_mine_shaft_approx, 50%);
                @include transition(all 0.5s ease-in-out);
            }
            &:hover,
            &:focus {
                background-color: $color_white;
                color: $color_woodsmoke_approx;
                a,
                span {
                    color: $color_woodsmoke_approx;
                }
            }
            @media only screen and (max-width: 49em) {
                font-size: 0.7em;
            }
        }
    }
}

.about-copy {
    margin-bottom: $size_column-gutter;
}

.space {
    height: $size_column-gutter * 3;
    width: 100%;
    float: left;
    @media only screen and (min-width: 49em) {
        display: none;
    }
}

.full-width {
    width: 100%;
    display: none;
    @media only screen and (max-width: 49em) {
        display: inherit;
    }
}
.nav,
.contact-nav {
    text-transform: none;
    ul {
        padding: 0;
        margin: 0;
        clear: both;
        li {
            margin-bottom: 5px;
            padding-right: $size_column-gutter;
            float: left;
            width: 50%;
            @media only screen and (max-width: 49em) {
                width: 100%;
                padding-right: 0;
            }
            h3,
            a {
                color: $color_white;
                display: block;
            }
            h3 {
                white-space: normal;
                text-transform: uppercase;
                margin-bottom: 3px;
                float: left;
                clear: both;
                width: 100%;
                letter-spacing: 1px;
                &:first-child {
                    margin-top: 0;
                }
            }
            p {
                clear: both;
                font-size: 0.8em;
            }
            &:hover,
            &:focus {
                span,
                h3,
                a {
                    color: $color_yellow !important;
                }
            }
        }
    }
}
.contact-nav {
    margin-bottom: 5%;
    float: left;
    width: 100%;
    ul {
        li {
            width: 33.33333333%;
            padding-right: 0;
        }
    }
}
.social-nav {
    text-transform: none;
    margin-left: -12px;
    ul {
        padding: 0;
        margin: 0;
        li {
            float: left;
            i,
            img {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
            &:hover,
            &:focus {
                color: $color_yellow;
                a,
                i {
                    color: $color_yellow;
                }
            }
            &.trakt {
                margin: 11px;
                height: 17px;
                width: 17px;
                overflow: hidden;
                a {
                    display: block;
                    width: 17px;
                    height: 17px;
                }
                img {
                    margin-top: -100%;
                    height: 34px;
                }
                &:hover,
                &:focus {
                    img {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

span.the-sum {
    font-weight: 900;
    width: 22px;
    display: inline-block;
    text-align: center;
    height: 25px;
}

.name {
    &.logo {
        font-family: $font_2;
        text-transform: uppercase;
        letter-spacing: 13px;
        line-height: 1.2;
        margin-top: 15%;
        h1 {
            font-size: 2.25em;
        }
        p {
            width: 100%;
        }
        @media only screen and (max-width: 49em) {
            letter-spacing: 9px;
            margin-top: 7.5%;
        }
    }
    p {
        margin-bottom: $size_column-gutter / 2;
        color: lighten($color_tundora_approx, 3%);
        float: left;
        width: 100%;
        font-size: 0.8em;
    }
    i {
        margin: 0 3px;
    }
}

.show-for-small-only {
    @media only screen and (min-width: 49em) {
        display: none !important;
    }
}

.slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: normal !important;
    *word-spacing: normal !important;
}

.slabtextdone .slabtext {
    display: block;
}
