//colors
$color_mortar_approx: rgb(200, 200, 200);
$color_white: rgba(255, 255, 255, 1);
$color_tundora_approx: rgba(68, 68, 68, 1);
$color_donkey_brown_approx: rgba(163, 142, 124, 1);
$color_akaroa_approx: rgba(214, 193, 162, 1);
$color_mine_shaft_approx: rgba(47, 47, 47, 1);
$color_whisper_approx: rgba(248, 244, 249, 1);
$color_woodsmoke_approx: rgba(17, 17, 17, 1);
$color_red_approx: #F20530;
$color_yellow: #ffeb3b;

//grid
$size_column-gutter: 1.1375em;

//fonts
$font_0: 'Noto Sans';
$font_1: 'sans-serif';
$font_2: $font_0;
$font_3: $font_1;

//urls
$url_0: url('/images/backgrounder.jpg');
$url_1: url('/images/backgrounder_inverted.jpg');

//@extend-elements
//original selectors

//.wf-loading, .wf-loading p, .wf-loading a, .wf-loading span, .wf-loading img
%extend_1 {
    opacity: 0;
    font-family: $font_2, $font_3;
    font-style: normal;
    font-weight: 400;
    visibility: hidden;
}

//original selectors

//a, a span
%extend_2 {
    transition: all 0.44s ease-in-out;
}

//original selectors

//a i, a img, p i
%extend_3 {
    width: 15px;
    text-align: center;
}
